body {
    font-family: sans-serif;
    margin: 0;
    padding: 0.5em;
    background-color: #333;
    color: #eee;
}

@media screen and (min-width: 768px) {
    body {
        padding: 2em 4em;
    }
}

a {
    color: #69f;
}

a:visited {
    color: #a5f;
}

@media screen and (max-width: 480px) {
    .fork-me {
        display: none;
    }
}

.DropImage__header__3ENrf {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #aaa;
}

.DropImage__output__1EpGt {
    margin-top: 0.6em;
    color: #aaa;
}

.DropImage__bodyHover__2fO6o {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15vw;
}

@media screen and (min-width: 768px) {
    .style__application__1pZ2x {
        display: flex;
    }

    .style__leftPane__kVXGS {
        float: left;
        max-width: 40%;
        margin-right: 5em;
    }

    .style__rightPane__3faag {
        flex-grow: 1;
    }
}

.style__setters__2Mo3S a {
    color: lightblue;
}

.style__setters__2Mo3S > div {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.6em;
    margin-bottom: 1.6em;
}

.style__controls__v2gwb {
    margin-bottom: 2em;
}

.style__controls__v2gwb label {
    text-align: right;
    width: 8em;
}

.style__controls__v2gwb input {
    width: 4em;
}

.style__check__2hNIt {
    margin-left: 7.2em;
}

.style__check__2hNIt input {
    width: auto;
}

.style__samples__3A5tX img {
    width: 50px;
    vertical-align: middle;
    margin-right: 2em;
    margin-bottom: 1em;
    cursor: pointer;
}

.style__animation__2tLY9 {
    text-align: center;
}

.style__animation__2tLY9 img {
    max-width: 100%;
}

.style__error__1WRBa {
    background-color: red;
    padding: 0.2em 0.4em;
}

