body {
    font-family: sans-serif;
    margin: 0;
    padding: 0.5em;
    background-color: #333;
    color: #eee;
}

@media screen and (min-width: 768px) {
    body {
        padding: 2em 4em;
    }
}
