.setters a {
    color: lightblue;
}

.setters > div {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1.6em;
}

.controls {
    float: left;
    margin-right: 10em;
    margin-bottom: 2em;
}

.controls label {
    text-align: right;
    width: 8em;
}

.controls input {
    width: 4em;
}

.samples img {
    width: 100px;
    vertical-align: middle;
    margin-right: 2em;
    margin-bottom: 1em;
    cursor: pointer;
}

.animation {
    clear: both;
    text-align: center;
}
