.setters a {
    color: lightblue;
}

.setters > div {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.6em;
    margin-bottom: 1.6em;
}

.controls {
    margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
    .controls {
        float: left;
        max-width: 40%;
        margin-right: 10em;
    }
}

.controls label {
    text-align: right;
    width: 8em;
}

.controls input {
    width: 4em;
}

.check {
    margin-left: 7.2em;
}

.check input {
    width: auto;
}

.samples img {
    width: 50px;
    vertical-align: middle;
    margin-right: 2em;
    margin-bottom: 1em;
    cursor: pointer;
}

.animation {
    clear: both;
    text-align: center;
}

.animation img {
    max-width: 100%;
}

.error {
    background-color: red;
    padding: 0.2em 0.4em;
}
